* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Diskus;
    src: url(Diskus.ttf);
    font-weight: regular;
}

body {
    background-color:aquamarine;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    min-height: 100vh;
    font-family: Diskus;
    letter-spacing: 1rem;
}

header {
    height: 100px;
}

section{
    display: flex;
    background-color: burlywood;
}

.colones{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.colone{
    flex: 1;
}

#scroll{
    background-color: blueviolet;
    font-size: 3rem;
}

#lazy_cat{
    padding-left: 10px;
    padding-top: 10px;
    position: fixed;
    height: 100px;
    width: auto;
}
